.ProjectsContainter{
    display: grid;
    position: fixed;
    height: auto;
    align-items: center;
}
.Projects{
    position: sticky;
    top: 3px;
    font-family: 'Stack Sans Headline';
    font-size: 50px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    z-index: 4;
    align-self: start;
    text-align: center;
    width: auto;
}
.ProjectsParagraph{
    display: flex;
    position: absolute;
    font-family: 'Stack Sans Headline';
    z-index: 1;
    padding-top: 550px;
    width: auto;
    margin-left: 300px;
    margin-right: 300px;
    height: fit-content;
    text-align: center;
    align-items: center;
}
.carousel1container{
    width: 100vh;
    height: 1000px;
    margin: 0 auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    z-index: 2;
}
.carousel1container::-webkit-scrollbar{
    display: none;
}
.carousel1track{
    display: flex;
    gap: 20px;
    padding: 10px;
    z-index: 2;
}
.carousel1item{
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    scroll-snap-align: center;
    z-index: 2;
}
.topbar{
    z-index: 3;
}
.menucontents{
    z-index: 3;
}